body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    color: #333;
}
main{
    padding-top: 60px;
}
.section-content{
    margin: 50px 0;
}

.gray-bg{
    background-color: #efefef;
}
.banner-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}
.navigation-tab{
    margin-bottom: 30px;
    margin-bottom: 30px;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
/**
Header
 */

.header-top{
    padding: 10px 0;
    font-size: 14px;
    line-height: 1;
}
.header-top .phone{
    margin-right: 15px;
}
.medium-icon{
    border-radius: 50%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}
.logo-container{
    margin-bottom: 20px;
    border-bottom: 2px solid #efefef;
    padding: 15px 0;
}

.section-about{
    padding: 50px 0;
    position: relative;
}
.about-img{
    max-width: 100%;
}
.item-card figure{
    height: 150px;
    text-align: center;
}
.item-image{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    display: inline-block;
}
.footer-last{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 10px;
}
.section-about .blank-100{
    display: block;
    height: 100px;
    width: 100%;
}
.section-about:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #efefef;
    top: 0;
    left: 0;
    z-index: -1;
}
/**
Footer
 */
.footer-top{
    border-top: 1px solid #efefef;
    padding: 15px 0;
}

.footer-bottom{
    padding: 15px 0;
}

.footer-bottom .sp-title{
    color: red;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
    font-size: 16px;
}
.br-gray-2{
    border-right: 2px solid #ddd;
}

.footer-bottom .sp-contact{
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    color: #111;
}
.footer-bottom .sp-contact .icon-round {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-right: 7px;
}
.footer-bottom .sp-contact .icon-round i{
    font-size: 16px !important;
}
.footer-widget{
    color: #9d9d9d;
}
.footer-widget .title{
    color: #111;
    letter-spacing: 1px;
}

/**
Item Summury Table
 */
.item-details > .table{
    font-size: 12px;
}

.item-details > .table td{
    vertical-align: middle;
}
.item-details > .table .custom-input{
    margin: 0;
    padding: 5px;
    height: 25px;
    border-radius: 0px;
    width: 50px;
    padding-right: 0px;
    font-size: 12px;
}
.item-details > .table .custom-input:focus{
    box-shadow: none;
}

/**
Item Card
 */
.item-card{
    margin-bottom: 30px;
    padding-bottom: 10px;
    /* -webkit-animation: slide 0.5s forwards;*/
    /*-webkit-animation-delay: 2s;*/
    /*animation: slide 0.5s forwards;*/
    /*animation-delay: 2s;*/
    /*position:relative;*/
    /*opacity: 0;*/
    
}
@-webkit-keyframes slide {
    100% { opacity: 1; }
}

@keyframes slide {
    100% { opacity: 1; }
}
.item-card .card-content .title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    min-height: 38px;
}
.item-card .price{
    color: #ef2024;
    font-weight: bold;
}
.load-more-button{
    margin: 50px 0;
}

/**
Tab Menu
 */
.nav-pills > .nav-item > .nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9d9d9d;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.nav-pills > .nav-item > .nav-link .menu-image{
    height: 46px;
    width:auto;
    padding: 5px;
}
.nav-pills > .nav-item > .active{
    background-color: transparent;
    color: #111;
}
.nav-pills > .nav-item > .active:before{
    position: absolute;
    content: '';
    width: 40%;
    left: 30%;
    height: 2px;
    background-color: #ef2024;
    top: 0;
}

/**
Customer Info
 */
.customer-info .header{
    padding: 7px;
    text-align: center;
    background-color: #efefef;
    line-height: 1;
    margin-bottom: 20px;
}
.customer-info .header h4{
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.customer-info form {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #efefef;
}
.customer-info .info{
    font-size: 12px;
    padding: 10px;
}
.customer-info .info .row{
    margin: 7px 0;
}

.customer-info .info .title{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.customer-info .info label{
    padding: 0px;
}
.customer-info .info .custom-input:focus{
    box-shadow: none;
}
.customer-info .info .custom-input{
    height: 30px;
    font-size: 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.afbl-img-container{
    position: relative;
}

/**
Shadow
 */
.z-2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/**
Button
 */

.btn-square{
    border-radius: 0px;
}
.btn-default{
    background-color: #ddd;
    color: #fff;
}

.btn-add-to-cart.focus, .btn-add-to-cart:focus{
    outline: 0;
    box-shadow: none;
}

.btn{
    font-family: 'Roboto', sans-serif;
}

.btn-remove {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: red;
    font-size: 21px;
}
.btn-o{
    background-color: transparent;
    border: 1px solid #111;
    border-radius: 0px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}

/**
Social Button
 */

.facebook:hover{
    background-color: #3B5998;
    color: #fff;
}
.twitter:hover{
    background-color: #08a0a9;
    color: #fff;
}
.google-plus:hover{
    background-color: #DB4437;
    color: #fff;
}

.padding-none{
    padding: 0px;
}
@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .banner-item {
        height: 200px;
    }
}
@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .banner-item {
        height: 250px;
    }
}
@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .banner-item {
        height: 350px;
    }
}

#scroll-checkout{
    width: auto;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    cursor: pointer;

}
.total-item-badge{
    font-size: 16px;
    /* line-height: 32px; */
    vertical-align: middle;
    font-weight: bold;
}
.input-btn-group{
    width: 40px;
    text-align: center;
}
.card-content .btn-group-vertical>.btn, .card-content .btn-group>.btn{
    line-height: 1;
}
.mb-15{
    margin-bottom: 15px;
}

.banner{
    position: relative;
}
.owl-dots{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.slider-control{
    position: absolute;
    top: 0;
    display: flex;
    right: 0;
}
.slider-control span{
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.slider-control span:hover{
    background-color: transparent;
    color: #000;
}

.card-item-img{
    max-width: 50px;
}

/** Razu **/

.exa-group-bth>.btn,.btn-group {
    border-radius:0px;
}
.exa-group-bth>.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.exa-group-bth>.btn-group>.btn:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.product-add .nav-item>.nav-link {
    border-radius: 0px;
}
.card, .exa-card-img {
    border-radius:0px;
}
.product-add{
    margin:0;
    padding:0;
}
.product-card .card-title{
    padding:10px;
    color: #03a9f4;
}
.exa-itm .btn-add-to-cart,
.exa-itm .btn-add-to-cart:focus,
.exa-itm .btn-add-to-cart:hover{
    display: inline-block;
    width: 100%;
    padding:9px 18px!important;
    background-color: #03a9f4;
    color: #fff !important;
    font-weight: 300;
    font-size: 12px !important;
    height: 45px;
}
.exa-itm .btn-group {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#singleProductModal .modal-content{
    background-color: transparent;
}

.exa-itm .btn,
.exa-itm .btn-group .btn:hover,
.exa-itm .btn-group .btn:focus,
.exa-itm .btn-group .btn:active
{
    border: 0px !important;
    box-shadow: none !important;
}

.exa-itm input,
.exa-itm input:focus{
    outline: none !important;
    border: 0px;
    box-shadow: none;
}

.product-modal-card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    max-width: 18rem;
    margin: 0 auto;
    padding: 0.5rem;
    background: #F5F5F5;
    padding-bottom: 0 !important;
    position: relative;
}
.product-modal-card .card-title{
    padding: 0;
    line-height: 1.1;
    font-size: 18px;
}

.product-modal-card .card-body{
    background-color: #fff;
    margin: 0 -0.5rem;
    text-align: left;
    padding: 0.5rem;
}
.product-modal-card .card-footer {
    background-color: #fff;
    margin: 0 -0.5rem;
    text-align: left;
    padding: 0.5rem;
    border: 0px;
    bottom: 0;
    padding-bottom: 0.5rem;
}
.exa-itm{
    width: 50%;
}
.exa-itm .btn-add-to-cart
.exa-itm  .btn-add-to-cart:hover{
    background-color: #03a9f4 !important;
    color: #fff !important;
    padding: 9px 18px !important;
}

.view-product-card:hover{
    text-decoration: none;
}

.slider-container{
    position: relative;
}
.slider-container .next{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    color: #FFF;
    z-index: 1;
}

.slider-container .prev{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    color: #FFF;
    z-index: 1;
}

.close-product-modal{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: crimson;
    border-radius: 50%;
}