<template>
    <div>
        <div class="btn-group btn-group-sm mb-15" role="group" aria-label="counter">
            <button type="button" class="btn btn-secondary" @click="decreaseQty" :disabled="quantity < 2">-</button>
            <input type="text" class="btn-group input-btn-group" role="group" v-model="quantity">
            <button type="button" class="btn btn-secondary" @click="increaseQty">+</button>
        </div>
        <div>
            <button class="btn btn-add-to-cart btn-sm" @click="addToCart">ADD TO ORDER</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['item'],
        data: function() {

            return {
                product: null,
                quantity: 1,
            };
        },

        methods: {

            addToCart: function () {
                this.product.quantity = this.quantity;
                this.product.subtotal = this.quantity * this.product.price;
                this.$store.commit('addItemToCart', this.product);
                Vue.toasted.show('Item Added To Order',{duration: 1000,type: 'success','position': 'top-right',className: 'add-to-cart-toast'});
            },
            updateQuantity(){
                this.product.quantity = this.quantity;
                this.product.subtotal = this.quantity * this.product.price;
                if(v<=0){
                    return false;
                }
                this.$store.commit('updateItemToCart', this.product);
            },
            increaseQty(){
                this.quantity++;
                this.updateQuantity();
            },
            decreaseQty(){
                if(this.quantity > 1){
                    this.quantity--;
                    this.updateQuantity();
                }
            },

        },
        created: function() {
            this.product = this.item;
        },
        mounted() {
            console.log('Component mounted');
        },
    }
</script>
