<template>
    <span class="total-item-badge">{{ this.$store.state.cart.length }}</span>
</template>

<script>
    export default {
        data: function() {

            return {
                totalItem: 0
            };
        },

        methods: {

        },
        created: function() {
            this.totalItem = this.$store.state.cart.length;
            console.log("ok");
            console.log(this.$store.state.cart.length);
        },
        mounted() {
            console.log('Item Count Component mounted');
        },
    }
</script>
