<template>
    <div class="item-details">
        <table class="table table-bordered">
            <thead>
            <tr class="gray-bg">
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th colspan="2">Sub Total</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,i) in $store.state.cart">
                <td>{{ item.name }} <input type="hidden" :name="'item['+ i +'][product_id]'" :value="item.id"> </td>
                <td class="text-right">{{ item.price }}</td>
                <td>
                    <input type="number" class="custom-input form-control" :name="'item['+ i +'][quantity]'" :value="item.quantity" v-on:keyup="updateQuantity($event.target.value,item)">
                </td>
                <td class="text-right">{{ item.subtotal }} </td>
                <td><button class="btn btn-remove" @click="removeFromCart(item)" type="button"><i class="icon ion-md-trash"></i></button></td>
            </tr>
            <tr v-if="$store.state.cart.length > 0">
                <td colspan="3">Total Price</td>
                <td colspan="2">{{ totalPrice }}</td>
            </tr>
            <tr v-else>
                <td colspan="6" class="text-center text-danger"><strong>No item selected !</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function() {

            return {
                srcBase: document.head.querySelector('meta[name="base-url"]').content,
            };
        },
        computed: {
            totalPrice() {
                let total = 0;

                for (let item of this.$store.state.cart) {
                    total += (item.quantity * item.price );
                }

                return total.toFixed(2);
            }
        },

        methods: {
            removeFromCart(item) {
                this.$store.commit('removeFromCart', item);
                Vue.toasted.show('Item Removed From Order',{duration: 1000,type: 'error','position': 'top-right',className: 'remove-from-cart-toast'});
            },
            updateQuantity(v,item){
                item.quantity = v;
                item.subtotal = v * item.price;
                if(v<=0){
                    return false;
                }
                this.$store.commit('updateItemToCart', item);
            }
        },
        created: function() {
            console.log(this.$store.state.cart);
        },
        mounted() {
            console.log('Component mounted');
        },
    }
</script>
