<template>
    <section>
        <div class="products-container">
            <div class="form-group">
                <input type="text" class="form-control" v-model="searchedText" v-on:keyup="searchItem" placeholder="Search product name ...">
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12" v-for="(product,i) in displayedProducts">
                    <div class="item-card text-center z-2">
                        <figure>
                            <img class="item-image" :src="product.thumb" alt="">
                        </figure>
                        <div class="card-content">
                            <h4 class="title">{{ product.name }}</h4>
                            <p><span class="price"><span class="currency">৳</span>{{ product.price }}</span></p>
                            <add-to-order-button :item="product"></add-to-order-button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<nav v-if="totalItem > 9">-->
                <!--<paginate-->
                        <!--:page-count="pageCount"-->
                        <!--:click-handler="paginate"-->
                        <!--:prev-text="'Prev'"-->
                        <!--:next-text="'Next'"-->
                        <!--:container-class="'pagination pull-sm-center'">-->
                <!--</paginate>-->
            <!--</nav>-->
            <!--<div class="text-center" v-if="totalDisplay < displayedProducts.length">-->
                <!--<button type="button" class="btn btn-o" @click="increaseDisplayedItems">VIEW MORE</button>-->
            <!--</div>-->
        </div>
    </section>
</template>

<script>
    export default {
        props: ['products'],
        data: function() {

            return {
                displayedProducts: [],
                totalItem: 0,
                pageCount: 0,
                totalDisplay: 8,
                searchedText: ''
            };
        },

        methods: {

            increaseDisplayedItems: function(){
                this.totalDisplay += 4;
                console.log(this.totalDisplay);
            },

            initializePagination: function(){
                this.totalItem = this.products.length;
                this.pageCount = Math.ceil(this.totalItem/9);
                if(this.totalItem > 9){
                    this.displayedProducts = this.products.slice(0,9);
                }else{
                    this.displayedProducts = this.products;
                }
            },
            paginate: function (pageNo) {
                var startIndex = (pageNo -1) * 8;
                var lastIndex = startIndex + 7;
                this.displayedProducts = this.products.slice(startIndex,lastIndex);
            },
            searchItem(){
                if(this.searchedText.length){
                    this.displayedProducts = [];
                    this.displayedProducts = this.products.filter((item) => {
                        return item.name.toUpperCase().search(this.searchedText.toUpperCase()) != -1;
                    });
                }else {
                    this.displayedProducts = this.products;
                }
            }

        },
        created: function() {
            this.displayedProducts = this.products;
        },
        mounted() {
            console.log('Component mounted');
        },
    }
</script>
